.env
node_modules
database.db
botSettings.json
out/*
/src/webrender/fnv_cards/
/src/webrender/cards/
/src/webrender/fonts/
/src/webrender/slots/
/secrets.md
/src/res/Colby_cropped.png
/.idea/icon.svg
/.idea/dataSources/
